################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WebProjectApp
/WebProject/bin
/WebProject/obj
/WebProject/Properties
